/* Layout geral */
/*
#003BA5
#FFC700
#FFF210
#000000
#FFFFFF
*/

@charset "UTF-8";

* {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 
               'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header */
.header {
  background: #003ba5;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; /* logo à esquerda, texto à direita */
  padding: 16px 32px;
}

.title > h1 {
  text-align: center;
}

/* Espaço da logo */
.header .logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header .logo img {
  height: 100px; /* ajuste conforme o tamanho da logo */
  width: auto;
  border-radius: 8px; /* opcional, remove se quiser a logo normal */
  
}

/* Texto da loja */
.header .title {
  text-align: right;
}

.header .title h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.header .title p {
  font-size: 1.1rem;
  margin: 4px 0 0;
}

/* Responsividade */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
    gap: 12px;
  }

  .header .title {
    text-align: center;
  }
}

